* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* background-color: #EFEEEA; */
  /* background-color: #FBF9D1; */
  /* font-family: Arial, sans-serif; */
  font-family: "Nunito", sans-serif;
  /* font-family: montserrat; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/* Give space for fixed navbar */
.main-content {
  padding-top: 80px;
  min-height: calc(100vh - 80px - 180px);
}

/* Toastify global fix */
.Toastify__toast-container {
  z-index: 10000 !important; /* higher than navbar */
  position: fixed !important;
}

.Toastify__toast {
  z-index: 10000 !important;
}

/* Success notification */
.Toastify__toast--success {
  background: #4CAF50 !important;  /* green */
  color: #fff !important;
}

/* Error notification */
.Toastify__toast--error {
  background: #f44336 !important;  /* red */
  color: #fff !important;
}

/* Info notification */
.Toastify__toast--info {
  background: #2196F3 !important;  /* blue */
  color: #fff !important;
}

/* Warning notification */
.Toastify__toast--warning {
  background: #ff9800 !important;  /* orange */
  color: #fff !important;
}

